{% extends 'app/dummy.html' %}
{% block title %}
    
    <title>Registration</title>
{% endblock %}

{% block body_block %}
<body style="background-color: aliceblue;">
    <center>
    <h1>Answer the Question</h1>

        <h2>{{ question.title }}</h2>
        <h2>{{ question.description }}</h2>
      
        
            <form method="POST"  >
                {% csrf_token %}
    
                    {{aqo.as_p}}
                    <center><h5><input type="submit" value="post_A"></h5></center><br>
                    
                    
            </form>
       
    </center>
</body>
{% endblock %}