{% extends 'app/dummy.html' %}
{% block title %}
    
    <title>Registration</title>
{% endblock %}

{% block body_block %}
<body style="background-color: blanchedalmond;">
    
    <center>
    <h1>ASK QUESTION</h1>
    
        
            <form method="POST" >
                {% csrf_token %}
                
                    {{qfo.as_p}}
                  
                    <center><input type="submit" value="post_Q"></center><br>
                    
                    
            </form>
 
    </center>
 
</body>      
{% endblock %}